<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% load crispy_forms_tags %}
{% if perms.task.task_management %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-dev-modal">Add Task</button>
<!-- Ajout du modal contenant le formulaire -->
<div class="modal fade " id="add-dev-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Task</h4>
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
            </div>
            <div class="modal-body">
                <form
                        id="create-form"
                        onsubmit="$('#create-form *').removeAttr('disabled');"
                        action="{% url 'task:create' %}"
                        method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="btn btn-primary"
                                type="submit">Créer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
</body>
</html>