{% extends "task/_base.html" %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, >
initial-scale=1.0">
    <title>MProject</title>
</head>
<body>
{% block title %} Liste des tâches {% endblock title %}
{% block content %}
    {% if tasks %}
        <div class="container-sm l-3 d-flex flex-wrap border">
            {% for tsk in tasks %}
                <div class="card bg-primary m-2 p-1 rounded-lg"
                     style="width:300px">
                    <div class="card-title">
                        <p>Titre : {{ tsk.title }} </p>
                        <p>Description : {{ tsk.description }}</p>

                    </div>
                    <div class="card-body">
                        Pour : {{ tsk.assignee.first_name }} {{ tsk.assignee.last_name }}
                    </div>
                          <li class="list-group-item">
                    <form action="{% url 'task:delete' tsk.id %}" method="post">
                        {% csrf_token %}
                        <button class="close" type="submit"><i class="fa fa-trash"></i></button>
                    </form>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <div class="container m-4">
            <alert class="alert alert-warning">Il n'y a aucune tâche assignée</alert>
        </div>
    {% endif %}
        {% include 'task/_create_task_modal.html' %}

{% endblock content %}

</body>
</html>