<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>{% block title %}MProject{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="p-3 bg-primary">
    <h1 class="display-1">MProject</h1>
    <h2>{% block Bigtitle %}GProject - Gestion des developpeurs{% endblock Bigtitle %}</h2>
</div>

<nav class="navbar navbar-expand-sm bg-primary navbar-dark bordertop border-white">
    <ul class="navbar-nav">
        <li id="nav-home" class="nav-item">
            <a class="nav-link" href="{% url 'home:index' %}"><i class="fa fa-home bg"></i></a>
        </li>
        <li id="nav-dev" class="nav-item active">
            <a class="nav-link" href="{% url 'developer:index' %}">Developers</a>
        </li>
        <li id="nav-task" class="nav-item">
            <a class="nav-link" href="{% url 'task:index' %}">Tasks</a>
        </li>
    </ul>
</nav>
{% block content %}
{% endblock content %}
<script>
    {% block menu-script %}
        $("#nav-home").addClass('active')
        $("#nav-dev").removeClass('active')
        $("#nav-task").removeClass('active')
    {% endblock menu-script %}
</script>
</body>
</html>