{% extends "developer/_base.html" %}
<h1>MProject</h1>
<h2>Détail de {{ developer.first_name }}</h2>
{% block title %} Détail - {{ developer.first_name }} {{ developer.last_name }} {% endblock title %}
{% block content %}
    <div class="jumbotron" style="height:150px">
        <form action="{% url 'developer:delete' developer.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="close"><i class="fa fa-trash"></i></button>
        </form>
        <h1>{{ developer.first_name }} {{ developer.last_name }}</h1>
      <p>{{ developer.tasks.all|length }}
            tâche{{ developer.tasks.all|length|pluralize }}
            assignée{{ developer.tasks.all|length|pluralize }}</p>
    </div>
        <ul class="list-group">
            {% for tsk in developer.tasks.all %}
        <li class="list-group-item"> <strong>{{ tsk.title }}</strong>  {{ tsk.description }} </li>
        {% endfor %}
        </ul>
    <br>
      {% include 'task/_create_task_modal.html' %}
{% endblock content %}
