{% extends "developer/_base.html" %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, >
initial-scale=1.0">
    <title>MProject</title>
</head>
<body>
<h1>MProject</h1>
<h2>Liste des dévelopeurs</h2>

{% block title %} Liste des dévelopeurs {% endblock title %}
{% block content %}
    {% if developers %}
        <div class="container-sm l-3 d-flex flex-wrap border">
            {% for dev in developers %}
                <div class="card bg-primary m-2 p-1 rounded-lg"
                     style="width:300px">
                    <div class="card-title">
                        {{ dev.first_name }} {{ dev.last_name }}
                    </div>
                    <div class="card-body">
                        {{ dev.tasks.all|length }}
                        tâche{{ developer.tasks.all|length|pluralize }}
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'developer:detail' dev.id %}"
                           class="btn btn-outline-light">Détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container m-4">
            <alert class="alert alert-warning">Il n'y a aucun dévelopeur enregistré</alert>
        </div>
    {% endif %}
    {% include 'developer/_create_dev_modal.html' %}
{% endblock content %}

</body>
